In [ ]:
print("emma")
print("hi","there")
print(10)
print("number is",5.5)
print(10+11)

emma
hi there
10
number is 5.5
21

In [ ]:
print((3*11+5)/20)

1.9

In [ ]:
input("Enter a name: ")
input("Enter a city: ")
input()

Enter a name: Emma
Enter a city: London
hi

'hi'

In [ ]:
name = input("enter your name: ")
city = input("enter a city: ")
print("Hello, my name is",name, "from",city)

enter your name: Emma
enter a city: London
Hello, my name is Emma from London

In [ ]:
x=10
print(x*3)

30

Exercise:

Ask the user to enter their name, their telephone number and city.

Print in the following form:

Emma from London telephone number is 5656565656

In [ ]:
name = input("enter your name: ")
city = input("enter your city: ")
tel = input("enter your telephone number: ")
print(name, "from",city,"telephone number is",tel)

enter your name: Emma
enter your city: London
enter your telephone number: 000202
Emma from London telephone number is 000202

In [ ]:
print("Emma"+"1")
print("Emma","1")
print("Emma"*3)

Emma1
Emma 1
EmmaEmmaEmma

In [ ]:
age = input("How old are you? ")
print(age)
print(age*3)
age = int(input("How old are you? "))
print(age)
print(age*3)

How old are you? 18
18
181818
How old are you? 18
18
54

Exercice

Ask the user to give you two number, one after the other.
Print the addition of numbers.

5
6
11

In [ ]:
x = int(input("Enter a number: "))
y = int(input("Enter a number: "))
print(x+y)

x = int(input("Enter a number: "))
y = float(input("Enter a number: "))
print(x+y)

x = float(input("Enter a number: "))
y = float(input("Enter a number: "))
print(x+y)

Enter a number: 5
Enter a number: 6
11
Enter a number: 5
Enter a number: 5.5
10.5
Enter a number: 8.5
Enter a number: 9
17.5

In [ ]:
x = 10
y = 0
if y==0:
  print("I can't divide by 0.")
else:
  print(x/y)

I can't divide by 0.

In [ ]:
x = int(input("Enter a number: "))
y = int(input("Enter a number: "))
if y==0:
  print("I can't divide by 0.")
  print("You are stupid.")
else:
  print(x/y)

Enter a number: 5
Enter a number: 0
I can't divide by 0.
You are stupid.

Ask the user to enter two integer numbers.
Print the largest number.

5
12
Max is 12

In [ ]:
x = int(input("Enter an integer number: "))
y = int(input("Enter an integer number: "))

if x>y:
  print("Max is",x)
else:
  print("Max is",y)

Enter an integer number: 5
Enter an integer number: 8
Max is 8

In [ ]:
x = int(input("Enter a number: "))
if x>0:
  print("Positive")
elif x==0:
  print("0")
else:
  print("Negative")

Enter a number: -2
Negative

In [ ]:
x = int(input("Enter a number: "))
if x>=0 and x<10:
  print("the number is between 0 and 10")
else:
  print("Something else...")

Enter a number: 0
the number is between 0 and 10

In [ ]:
score = float(input("Enter a number: "))
if score>=0 and score<10:
  print("Fail")
elif score>=10 and score<15:
  print("Pass")
elif score>=15 and score<=20:
  print("Distinction")
else:
  print("error")

Enter a number: 15
Distinction